@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

:root {
  --color__bg: #fee;
  --color__text: #333;
  --color__ui: #333;
  --color__focus: #f55;
}

html,
body {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color__text);
  background-color: var(--color__bg);
  height: 100%;
}

:focus {
  outline: var(--color__focus) solid 4px;
  outline-offset: 0.8rem;
}

.list li:before {
  content: '▸';
  padding: 0 3px 0 2px;
}

.browser-window-container {
  display: flex;
  padding: 1.6rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 360px) {
  .browser-window-container {
    overflow-x: hidden;
  }
}

.browser-window {
  width: 90%;
  max-width: 900px;
  min-width: 300px;
  border: 4px solid var(--color__ui);
  background-color: var(--color__bg);
  overflow: hidden;
}

.browser-window-header {
  position: sticky;
  top: 0px;
  min-height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 4px solid var(--color__ui);
  background-color: var(--color__bg);
  z-index: 999;
}

.browser-window-close {
  position: absolute;
  right: 0.9rem;
  text-decoration: none;
}

.browser-window-title {
  flex-basis: 100%;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  padding-top: 0.2rem;
  margin: 0 2rem;
}

.browser-window-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 1rem 2rem 1rem;
}

.welcome-window {
  width: unset;
  top: unset;
  bottom: unset;
  max-width: 715px;
  min-height: 280px;
  max-height: 800px;
}

.welcome-title {
  font-size: 3rem;
  line-height: 1;
  padding: 1.4rem 2.6rem 0 0;
  margin-top: 80px;
}

@media screen and (min-width: 420px) {
  .welcome-title {
    font-size: 16vw;
  }
}

@media screen and (min-width: 1020px) {
  .welcome-title {
    font-size: 8.5rem;
  }
}

@media screen and (min-height: 200px) {
  .welcome-title {
    margin-top: 0;
  }
}

.welcome-title-br::before {
  content: '\A';
  white-space: pre;
}

.nav-list {
  display: flex;
  padding-bottom: 1.1rem;
  font-size: 1.1rem;
}

@media screen and (min-width: 420px) {
  .nav-list {
    font-size: 6vw;
  }
}

@media screen and (min-width: 1020px) {
  .nav-list {
    font-size: 2.8rem;
  }
}

.nav-item ~ .nav-item {
  padding-left: 1.2rem;
}

.favorites-label {
  margin-bottom: 1rem;
}

.contribution-title {
  display: block;
}

@media screen and (min-width: 600px) {
  .contribution-title {
    display: inline-block;
  }
}

.title {
  font-size: 1.8rem;
  line-height: 1.25;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 2.4rem;
  }
}

.section {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 600px) {
  .section {
    margin-bottom: 2rem;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.scrollable {
  overflow-y: scroll;
  max-height: 85vh;
}

.inline {
  display: inline;
}

.disabled {
  cursor: not-allowed;
  color: var(--color__text);
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  .hidden--mobile {
    display: initial;
  }
}
