<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Vancouver-based web developer">

  <link rel="icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/syntax-highlight.css">
  <link
    rel="alternate"
    type="application/rss+xml"
    title="William Lindvall's Blog"
    href="/rss.xml"
  >

  <title>@shwilliam</title>
</head>
<body>

  <header class="header">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item" tabindex="1">
          <div class="nav__title">
            <h1>
              William Lindvall
            </h1>
          </div>
          <div class="nav__content">
            hello
          </div>
        </li>
        <li class="nav__item" tabindex="2">
          <div class="nav__title">
            <h2>
              Blog
            </h2>
          </div>
          <div class="nav__content">
            hello
          </div>
        </li>
        <li class="nav__item" tabindex="3">
          <div class="nav__title">
            <h2>
              Work
            </h2>
          </div>
        </li>
        <li class="nav__item" tabindex="4">
          <div class="nav__title">
            <h2>
              Links
            </h2>
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

</body>
</html>
