<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Vancouver-based web developer">
  <link rel="icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>@shwilliam</title>
</head>
<body>

  <header>
    <h1 class="sr-only">
      William Lindvall
    </h1>

    <div class="flamez">
      <img
        class="flame"
        src="/images/flamez-william.gif"
        alt=""
      />
      <img
        class="flame"
        src="/images/flamez-lindvall.gif"
        alt=""
      />
    </div>

    <nav>
      <ul class="nav__list">
        <li>
          <a
            href="https://github.com/shwilliam"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/william-lindvall"
            target="_blank"
            rel="noopener noreferrer"
          >
            StinkedIn
          </a>
        </li>
        <li>
          <a
            href="mailto:w-lindvall@outlook.com?subject=Let's%20grab%20a%20coffee!"
          >
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

</body>
</html>
