<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Vancouver-based web developer">
  <link rel="icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>@shwilliam</title>
</head>
<body>

  <header>
    <h1 class="sr-only">
      William Lindvall
    </h1>

    <div class="flamez">
      <img
        class="flame"
        src="/images/flamez-william.gif"
        alt=""
      />
      <img
        class="flame"
        src="/images/flamez-lindvall.gif"
        alt=""
      />
    </div>
  </header>

  <main>
    {{ content }}
  </main>

</body>
</html>
