<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  >
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <meta name='Description' content='Vancouver-based web developer'>

  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Open+Sans:400,400i,700&display=swap" rel="stylesheet">

  <link rel='icon' type='image/x-icon' href='/favicon.ico'>
  <link
    rel='alternate'
    type='application/rss+xml'
    title="William Lindvall's Blog"
    href='/rss.xml'
  >

  <script>
    {% include js/theme-check.js %}
  </script>

  {% capture css %}
    {% include css/reset.css %}
    {% include css/global.css %}
  {% endcapture %}

  <style>
    {{ css | cssmin }}
  </style>

  <title>@shwilliam{% if title %}: {{ title }}{% endif %}</title>
</head>
<body class='browser-window-container'>

  <button
    id='theme-toggle'
    name='theme-toggle'
    class='theme-toggle'
    type='button'
  >
    <p class='sr-only'>
      Toggle theme
    </p>
  </button>

  {{ content }}

  <script>
    {% include js/theme-toggle.js %}
  </script>
</body>
</html>
