---
layout: templates/base.liquid
---

<main class='browser-window'>
  <div class='browser-window-header'>
    {% if title %}
      <h1 class='browser-window-title'>
        {{ title }}
      </h1>
    {% endif %}
    <a href='/' class='browser-window-close'>✕</a>
  </div>

  <div class='browser-window-content scrollable'>

    {{ content }}

  </div>
</main>
