---
layout: templates/base.liquid
---

<main class='browser-window'>
  <div class='browser-window-header'>
    <a href='/' class='browser-window-close'>✕</a>
  </div>

  <div class='browser-window-content scrollable'>

    {{ content }}

  </div>
</main>
