<button
  name='theme-toggle'
  class='theme-toggle theme-toggle--floating hidden hidden--desktop'
  type='button'
  hidden
>
  <span class="sr-only">
    Toggle theme
  </span>
</button>

<script>
  {% include js/theme-toggle.js %}
</script>
