<button
  name='theme-toggle'
  class='theme-toggle theme-toggle--floating hidden hidden--desktop'
  type='button'
>
  <span class='sr-only'>
    Toggle theme
  </span>
</button>

<script>
  {% include js/theme-toggle.js %}
</script>
