.blog-list__item {
  border-bottom: 1px var(--color__ui) solid;
}

.blog-list__title {
  color: var(--color__link);
  text-decoration: underline;
  margin: var(--spacing__v--xl) var(--spacing__h) var(--spacing__v)
    var(--spacing__h);
}

.blog-list__link {
  text-decoration: none;
}

.blog-list__date {
  margin: var(--spacing__v) var(--spacing__h) var(--spacing__v--l)
    var(--spacing__h);
}

.blog-list__description {
  margin: var(--spacing__v--xl) var(--spacing__h) var(--spacing__v--xxl)
    var(--spacing__h);
}
