/* variables */
html,
html[data-theme='light'] {
  --color__bg: #fff;
  --color__text: #000;
  --color__ui: #333;
  --color__link: #0000ff;
  --color__accent: #5900ff;
  --color__focus: #5900ff;
  --spacing__v: 5px;
  --spacing__v--l: 10px;
  --spacing__v--xl: 30px;
  --spacing__v--xxl: 50px;
  --spacing__h: 5px;
  --spacing__h--l: 7.5px;
}

html[data-theme='dark'] {
  --color__bg: #111;
  --color__text: #fff;
  --color__link: #f55;
  --color__ui: #fff;
  --color__accent: #f55;
  --color__focus: #f55;
}

/* globals */
html,
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  color: var(--color__text);

  background-color: var(--color__bg);
  height: 100%;
}

:focus {
  outline-offset: 2px;
  outline: var(--color__focus) solid 4px;
}

/* utils */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.inline {
  display: inline-block;
}

.hidden {
  display: none;
}

.padded {
  padding: var(--spacing__v--xl) 0 var(--spacing__v--l) 0;
}

.padded--s {
  padding: var(--spacing__v) 0 var(--spacing__v--l) 0;
}

.padded--l {
  padding: var(--spacing__v--xxl) 0 var(--spacing__v--l) 0;
}

@media screen and (min-width: 950px) {
  .hidden--mobile {
    display: initial;
  }
}

/* theme toggle */
.theme-toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  z-index: 999;
}

.theme-toggle:after,
html[data-theme='light'] .theme-toggle:after {
  content: '🌚';
}

html[data-theme='dark'] .theme-toggle:after {
  content: '🌞';
}

@media screen and (min-width: 500px) {
  .theme-toggle {
    right: 2rem;
  }
}

@media screen and (min-width: 950px) {
  .theme-toggle {
    right: 1rem;
  }
}

/* site-wide */
.button {
  display: inline-block;
  padding: 0.175rem 0.3rem 0.05rem 0.3rem;
  border: 1px solid var(--color__ui);
  background: transparent;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 0.6rem;
  line-height: 1.1;
  text-decoration: none;
  text-transform: uppercase;
}

.button + .button {
  margin-left: var(--spacing__h--l);
}

.button--fill,
.button--fill:visited {
  background: var(--color__ui);
  color: var(--color__bg);
}

.button--fill:hover {
  background: var(--color__ui);
  border: 1px solid var(--color__ui);
}

.article p ~ p {
  margin-top: var(--spacing__v--xl);
}

.title {
  font-size: 30px;
}

.title--main {
  text-decoration: underline;
  padding-bottom: var(--spacing__v);
}

.title--accent,
a.title--accent {
  color: var(--color__accent);
}

.site-container {
  padding: var(--spacing__v) var(--spacing__h--l);
}

.site-content,
.site-header {
  padding: var(--spacing__v) var(--spacing__h);
}

.site-content {
  max-width: 950px;
  width: 95%;
}

.site-content--l {
  max-width: 1500px;
}

.site-header {
  padding-bottom: var(--spacing__v--l);
  border-bottom: 1px solid var(--color__text);
}

.link--active {
  color: var(--color__focus);
}

.nav-list__link {
  text-decoration: none;
}

.more {
  margin: var(--spacing__v--xxl) 0 var(--spacing__v--xl) 0;
}

@media screen and (min-width: 950px) {
  .nav-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 900px;
  }
}
