/* variables */
html {
  --color__bg: #fee;
  --color__text: #333;
  --color__ui: #333;
  --color__ui--accent: #000;
  --color__focus: #f55;
}

/* TODO: refactor w spacing vars */

/* light/dark theming */
html[data-theme='dark'] {
  --color__bg: #333;
  --color__text: #fee;
  --color__ui: #fee;
  --color__ui--accent: #fff;
}

html[data-theme='light'] {
  --color__bg: #fee;
  --color__text: #333;
  --color__ui: #333;
  --color__ui--accent: #000;
  --color__focus: #f55;
}

/* global */
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color__text);
  background-color: var(--color__bg);
  height: 100%;
  min-height: 400px;
}

:focus {
  outline: var(--color__focus) solid 4px;
}

/* utils */
.dib {
  display: inline-block;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* theme toggle */
.theme-toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  z-index: 999;
}

.theme-toggle:after,
html[data-theme='light'] .theme-toggle:after {
  content: '🌚';
}

html[data-theme='dark'] .theme-toggle:after {
  content: '🌞';
}

@media screen and (min-width: 500px) {
  .theme-toggle {
    right: 2rem;
  }
}

@media screen and (min-width: 780px) {
  .theme-toggle {
    right: 1rem;
  }
}

/* site-wide */
.content {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.content--centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__header {
  width: 100%;
  margin: 1rem 0;
}

.content__main {
  width: 100%;
}

.section {
  margin: 1.25rem 0;
}

.back {
  text-decoration: none;
}

.back::before {
  content: '< ';
}

.title {
  padding: 0 1.5rem 1rem 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 3.25rem;
  font-weight: 700;
}

.title--small {
  font-size: 1.8rem;
}

.subtitle {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.subtitle--padded {
  margin-top: 4rem;
}

.subtitle--secondary {
  margin-top: 0;
  opacity: 0.75;
  font-size: 1.2rem;
  font-weight: 400;
}

.subtitle--small {
  font-size: 1rem;
}

.subtitle__container {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.nav-item ~ .nav-item {
  margin-left: 1.25rem;
}

.more {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.list {
  margin: 1rem 0 2rem 0;
}

.list li {
  margin: 1rem 0;
}

li li {
  display: inline-block;
  width: 100%;
  margin-left: 1rem;
}

.list li:before {
  content: '▸';
  padding: 0 3px 0 2px;
}

.list__item--l {
  padding-bottom: 0.5rem;
}

.button {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.8rem;
  padding: 0.125rem 0.3rem 0.05rem 0.3rem;
  border: 1px solid var(--color__ui);
  background: transparent;
  text-decoration: none;
}

.button + .button {
  margin-left: 0.25rem;
}

.button--fill,
.button--fill:visited {
  background: var(--color__ui);
  color: var(--color__bg);
}

.button--fill:hover {
  background: var(--color__ui--accent);
  border: 1px solid var(--color__ui--accent);
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.image__container {
  position: relative;
  padding-bottom: 78.26%;
  margin: 1rem 0 1.25rem 0;
  height: 0;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .content {
    padding: 1rem 2rem;
  }
  .title {
    font-size: 3.8rem;
  }
  .title--small {
    font-size: 1.8rem;
  }
  .subtitle--secondary {
    white-space: nowrap;
  }
  .subtitle__container {
    justify-content: flex-start;
  }
  .subtitle__container-item ~ .subtitle__container-item {
    margin-left: 2rem;
  }
  .nav-item ~ .nav-item {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 780px) {
  .title {
    padding-bottom: 0.5rem;
    font-size: 3rem;
  }
  .title--small {
    font-size: 1.8rem;
  }
  .subtitle--secondary {
    margin-bottom: 2rem;
  }
  .content {
    padding: 1rem 4rem;
  }
  .content__header {
    margin-bottom: 2.5rem;
  }
  .nav-list {
    margin-top: 3rem;
  }
  .nav-item ~ .nav-item {
    margin-left: 2.5rem;
  }
  .hidden--mobile {
    display: initial;
  }
}

/* work page */
.contribution__title {
  display: block;
}

.contribution__link {
  text-decoration: none;
}

.contribution__info {
  display: inline-block;
  text-decoration: underline;
}

.work__list-item {
  display: inline-block;
  padding-bottom: 0.5rem;
}

.work__title {
  display: inline-block;
  text-decoration: underline;
}

.work__title-link {
  text-decoration: none;
}

.work__subtitle {
  display: inline-block;
  opacity: 0.75;
  margin: 0 0.5rem;
  position: relative;
  bottom: 0.005rem;
  font-size: 0.8rem;
}

.work__description {
  margin: 0.5rem 0;
  padding-right: 8%;
}

.work__actions {
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .contribution__link {
    text-decoration: underline;
  }
  .contribution__title {
    display: inline;
  }
}

/* blog list */
.blog-list__item {
  padding: 0.75rem 0;
}

.blog-list__title {
  display: inline-block;
  padding-bottom: 0.25rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.blog-list__link {
  text-decoration: none;
}

.blog-list__description {
  opacity: 0.75;
}

.blog-list__date {
  font-size: 0.8rem;
  opacity: 0.75;
}

/* blog post */
.md {
  line-height: 1.35;
}

.md p {
  margin: 1.5rem 0 1rem 0;
}

.md > *:last-child {
  margin-bottom: 2.5rem;
}

.md h2 ~ p {
  margin-top: 0.75rem;
}

.md h2 {
  margin-top: 2.5rem;
}

.md h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.md h3 {
  margin-top: 1.25rem;
}

.md li {
  margin-bottom: 0.25rem;
}

.md li:before {
  content: '▸';
  padding: 0 3px 0 2px;
}

.md pre {
  margin: 2.5rem 0;
}
