main {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form__container {
  --duration: 300ms;
  --duration--s: 250ms;
  --easing: cubic-bezier(0.7, 0, 0.3, 1);

  width: 320px;
  margin: 20vh var(--spacing__h);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form__input {
  padding: 0;
  width: 100%;
  resize: none;
  border: none;
  color: #000;
  box-shadow: none;
}

.contact-form__input::placeholder {
  opacity: 100%;
}

.contact-form__input:focus {
  outline: unset;
  border-color: var(--color__accent);
}

.contact-form__actions {
  width: 100%;
  text-align: right;
}

.contact-form__submit {
  margin: var(--spacing__v--l) var(--spacing__h--l);
}

.folding-card__container {
  background-color: var(--color__bg);
}

.contact-form__container {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template: 100% / 100%;
  max-width: 600px;
}

.contact-form__container > [data-view] {
  grid-area: 1 / 1;
  max-height: 100%;
}

[data-view] {
  transition: transform var(--duration) var(--easing), visibility 0s linear;
}

[data-view]:not([data-active]) {
  pointer-events: none;
  transition-delay: 0s, calc(var(--duration) * 1);
}

.contact-form__success-message {
  margin-top: var(--spacing__v);
  padding: var(--spacing__v--l) var(--spacing__h--l) var(--spacing__v--xl)
    var(--spacing__h--l);
}
.contact-form__success-message p ~ p {
  margin-top: var(--spacing__v--l);
}

.contact-form__success-container {
  text-align: center;
  height: 100%;
  background-color: var(--color__bg);
}

.contact-form__reset {
  z-index: 999;
  background-color: var(--color__accent);
  color: var(--color__bg);
  border-color: var(--color__accent);
  transition: all var(--duration--s) var(--easing);
  transition-property: border-radius, transform, opacity, color;
  border-radius: 3px;
  z-index: 2;
  transform-origin: top left;
}

.contact-form__reset > * {
  opacity: 1;
  transition: inherit;
}

.contact-form__reset[data-move='pending'] {
  transition: none;
  transform: translate(calc(var(--dx, 0) * -1px), calc(var(--dy, 0) * -1px))
    scale(var(--dw, 1), var(--dh, 1));
}

[data-state='overview'][data-transitioning='false'] [data-view='details'] {
  opacity: 0;
}

.contact-form__reset[data-move='pending'] {
  color: var(--color__accent);
}

[data-view='details'] {
  z-index: 2;
  display: grid;
  perspective: 800px;
}

[data-view='details'] .view-content {
  z-index: 2;
  display: grid;
  grid-template: 100% / 100%;
  height: 100%;
  overflow: hidden;
}

[data-view='details'] .view-content .view-content-container {
  height: 100%;
}

[data-view='details'],
[data-view='details'] .fold {
  transform-style: preserve-3d;
}

[data-view='details'] .fold {
  position: absolute;
  top: 99%;
  left: 0;
  height: 102%;
  width: 100%;
  transform-origin: top center;
  backface-visibility: visible;
}

[data-view='details'] > .fold {
  height: 25%;
  width: 100%;
  top: 0;
  left: 0;
  animation: none !important;
}

[data-view='details'] .card {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
}

[data-state='overview'] [data-view='details'] {
  z-index: 1;
  animation: slide-down var(--duration) var(--easing) both;
}

@keyframes slide-down {
  from {
    transform: none;
  }
  to {
    transform: scaleX(0.92) scaleY(0.6) translateY(80%);
  }
}

[data-state='overview'] [data-view='details'] .fold {
  --fold-duration: calc(var(--duration) / 4);
  animation: fold-in var(--fold-duration) var(--easing) both;
  animation-delay: calc(var(--fold) * var(--fold-duration) * 0.8);
}

@keyframes fold-in {
  to {
    transform: rotateX(180deg) translateZ(-1px);
    border-radius: 3px;
    background-color: var(--color__accent);
  }
}

[data-state='overview'] [data-view='details'] .view-content {
  animation: inherit;
  animation-name: slide-up-content;
}

@keyframes slide-up-content {
  to {
    transform: translateY(-75%);
  }
}

[data-state='overview'] [data-view='details'] .view-content-container {
  height: 100%;
  animation: inherit;
  animation-name: slide-down-container;
}

@keyframes slide-down-container {
  to {
    transform: translateY(75%);
    opacity: 0;
  }
}
