.photos-overview__header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing__v) 0;
  font-weight: 500;
}

.photos-overview__project,
a.photos-overview__project {
  padding: var(--spacing__v) 0;
  border-top: 1px solid var(--color__ui);
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color__text);
}

.photos-overview__project:hover {
  color: var(--color__accent);
}
