*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.15;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a,
a:visited {
  color: inherit;
}

img,
video {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  padding: 0.25rem;
  line-height: 1;
  cursor: pointer;
}
