.site-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 80px;
  grid-gap: var(--spacing__v--l) 0;
}

.site-grid__item {
  display: flex;
  position: relative;
  margin: 0 -1px -1px 0;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  text-align: center;
}

a.site-grid__link {
  width: 100%;
  color: var(--color__text);
  text-decoration: none;
}

a.site-grid__link:hover .site-grid__title {
  text-decoration: underline;
}

.site-grid__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.site-grid__date {
  display: none;
  font-size: 0.85rem;
  position: absolute;
  top: var(--spacing__v--l);
  left: var(--spacing__h--l);
}

.site-grid__actions {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: calc(0.25 * var(--spacing__v));
  bottom: var(--spacing__v);
  right: var(--spacing__h--l);
}

a.site-grid__action {
  text-decoration: none;
  color: var(--color__accent);
  padding: calc(0.5 * var(--spacing__v)) calc(0.5 * var(--spacing__h)) 0
    calc(0.5 * var(--spacing__h));
}

.site-grid__action-icon svg {
  width: 20px;
}

.site-grid__title {
  color: var(--color__accent);
  margin-left: calc(8.5 * var(--spacing__h--l));
}

.site-grid__title-icon {
  display: none;
  vertical-align: 3px;
}

.site-grid__subtitle {
  font-style: italic;
  font-size: 0.85rem;
  margin-left: calc(8.5 * var(--spacing__h--l));
}

.site-grid__icon-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(8 * var(--spacing__h--l));
  margin: 0 auto;
  padding: var(--spacing__v--l) calc(2 * var(--spacing__h--l));
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-grid__icon {
  font-size: 1.45rem;
  object-fit: contain;
  max-height: 70%;
  max-width: var(--width);
}

@media screen and (min-width: 360px) {
  .site-grid__actions {
    display: flex;
  }
}

@media screen and (min-width: 550px) {
  .site-grid {
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    grid-auto-rows: unset;
  }
  .site-grid__content {
    align-items: center;
    padding-bottom: calc(2 * var(--spacing__v--l));
  }
  .site-grid__icon-container {
    flex-basis: 70px;
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    margin-bottom: var(--spacing__v--xl);
  }
  .site-grid__icon {
    transform: scale(1.25);
    font-size: 1.7rem;
    max-height: 100%;
  }
  .site-grid__item {
    display: inline-block;
    height: 400px;
    border-radius: 0;
  }
  .site-grid__title {
    margin-left: 0;
    padding-bottom: var(--spacing__v--l);
  }
  .site-grid__title-icon {
    display: initial;
  }
  .site-grid__subtitle {
    margin-left: 0;
  }
  .site-grid__date {
    display: initial;
  }
  .site-grid__actions {
    display: none;
  }
}
