.site-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  grid-gap: var(--spacing__v--l) 0;
}

.site-grid__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -1px -1px 0;
  padding: calc(2 * var(--spacing__v--l)) 0;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

a.site-grid__link {
  width: 100%;
  color: var(--color__text);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

a.site-grid__link:hover .site-grid__title {
  text-decoration: underline;
}

.site-grid__date {
  display: none;
  font-size: 0.85rem;
  position: absolute;
  top: var(--spacing__v--l);
  left: var(--spacing__h--l);
}

.site-grid__actions {
  display: inline-block;
  margin: var(--spacing__v--l) 0 var(--spacing__v)
    calc(14 * var(--spacing__h--l));
}

a.site-grid__action {
  padding: 0.125rem 0.5rem 0.065rem 0.2rem;
  font-size: 0.65rem;
  text-decoration: none;
  color: var(--color__text);
}

.site-grid__action-icon svg {
  position: relative;
  top: 0.75px;
  height: 0.525rem;
}

.site-grid__title {
  color: var(--color__accent);
  margin-left: calc(14 * var(--spacing__h--l));
  padding-bottom: calc(var(--spacing__v--l) / 2);
}

.site-grid__title-icon {
  display: none;
  vertical-align: 3px;
}

.site-grid__subtitle {
  max-width: 65%;
  text-align: left;
  font-style: italic;
  font-size: 0.85rem;
  margin-left: calc(14 * var(--spacing__h--l));
}

.site-grid__icon-container {
  position: absolute;
  top: 0;
  left: var(--spacing__h--l);
  height: 100%;
  width: calc(12 * var(--spacing__h--l));
  margin: 0 auto;
  padding: var(--spacing__v--xl) calc(2 * var(--spacing__h--l));
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-grid__icon {
  font-size: 1.45rem;
  object-fit: contain;
  max-height: 70%;
  max-width: var(--width);
}

@media screen and (min-width: 500px) {
  .site-grid__subtitle {
    max-width: 75%;
  }
}

@media screen and (min-width: 850px) {
  .site-grid {
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    grid-auto-rows: unset;
  }
  a.site-grid__link {
    align-items: center;
  }
  .site-grid__icon-container {
    flex-basis: 70px;
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    max-height: 70px;
    width: auto;
    margin: calc(var(--spacing__v--l) * 4.5) 0 var(--spacing__v--xl) 0;
    padding: var(--spacing__v--l) calc(2 * var(--spacing__h));
  }
  .site-grid__icon {
    transform: scale(1.25);
    font-size: 1.7rem;
    max-height: 100%;
  }
  .site-grid__item {
    display: inline-block;
    display: grid;
    grid-template-rows: 250px 120px; /* subgrid fallback */
    grid-template-rows: subgrid;
    grid-row: span 2;
    border-radius: 0;
    text-align: center;
  }
  .site-grid__title {
    margin-left: 0;
    padding-bottom: var(--spacing__v--l);
  }
  .site-grid__title-icon {
    display: initial;
  }
  .site-grid__subtitle {
    text-align: center;
    margin: var(--spacing__v) auto var(--spacing__v--xl) auto;
    width: 70%;
  }
  .site-grid__date {
    display: initial;
  }
  .site-grid__actions {
    margin-top: var(--spacing__v--xl);
    margin-bottom: var(--spacing__v--xxl);
    margin-left: 0;
  }
}
