.welcome-window {
  width: unset;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  width: 95%;
  max-width: 715px;
  min-height: 280px;
  max-height: 100%;
  overflow: scroll;
}

.welcome-title {
  font-size: 3.2rem;
  line-height: 1;
  margin-top: 80px;
  padding: 2.5rem 2.5rem 0 0;
}

.welcome-title-br::before {
  content: '\A';
  white-space: pre;
}

.nav-list {
  display: flex;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.nav-item ~ .nav-item {
  padding-left: 1.25rem;
}

@media screen and (min-height: 200px) {
  .welcome-title {
    margin-top: 0;
  }
}

@media screen and (min-width: 400px) {
  .welcome-window {
    width: unset;
    max-height: 800px;
  }
  .welcome-title {
    font-size: 14vw;
  }
  .nav-list {
    font-size: 6.7vw;
  }
}

@media screen and (min-width: 600px) {
  .nav-item ~ .nav-item {
    padding-left: 1.75rem;
  }
}

@media screen and (min-width: 1020px) {
  .welcome-title {
    font-size: 7rem;
  }
  .nav-list {
    font-size: 3.2rem;
  }
  .nav-item ~ .nav-item {
    padding-left: 1.5rem;
  }
}
