*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 15px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

nav ol,
nav ul {
  list-style: none;
}

a:not([class]) {
  /* default styles */
  text-decoration-skip-ink: auto;
}

a,
a:visited {
  color: inherit;
}

[disabled] {
  cursor: not-allowed;
}

img,
video {
  max-width: 100%;
  display: block;
}

textarea {
  resize: vertical;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only--focus:focus {
  position: static;
  width: auto;
  height: auto;
}
