:root {
  --color__nav--1: #e6defb;
  --color__nav--2: #cbf9ee;
  --color__nav--3: #ffe2ca;
  --color__nav--4: #fefeec;

  --color__bg: #fee;
  --color__text: #333;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--color__text);
  background-color: var(--color__bg);
}

.nav {
}

.nav__list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--color__bg);
}

.nav__item {
  --total-n: 4;
  --offset-x: 10vw;
  --translate-x: calc(var(--offset-x) - 100%);

  position: absolute;
  height: 100%;
  width: 50vw;
  margin-left: calc((var(--n) - 1) * var(--offset-x));

  z-index: calc(var(--total-n) - (var(--n) - 1) + 1);

  transform: translateX(var(--translate-x));
  transition: transform 0.3s ease-in-out;

  animation: slide-down 0.4s cubic-bezier(0.5, 0, 0.3, 1);
  animation-delay: calc(var(--n) * 0.1s);
  animation-fill-mode: backwards;

  display: grid;
  grid-template-areas: 'content title';
  grid-template-columns: auto var(--offset-x);
  grid-template-rows: 100%;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%) translateX(var(--translate-x));
  }
  to {
    transform: translateY(0) translateX(var(--translate-x));
  }
}

.nav__item:focus {
  transform: translateX(0);
}

.nav__item:focus ~ .nav__item {
  transform: none;
}

.nav__item:nth-child(1) {
  --n: 1;
  background-color: var(--color__nav--1);
}

.nav__item:nth-child(2) {
  --n: 2;
  background-color: var(--color__nav--2);
}

.nav__item:nth-child(3) {
  --n: 3;
  background-color: var(--color__nav--3);
}

.nav__item:nth-child(4) {
  --n: 4;
  background-color: var(--color__nav--4);
}

.nav__title {
  grid-area: title;
}

.nav__title > * {
  position: relative;
  left: 50%;
  line-height: 0;
  transform: rotate(90deg);
  transform-origin: center left;
  font-size: 3.5rem;
  white-space: nowrap;
}

.nav__content {
  grid-area: content;
}
