:root {
  --color__bg: #fff;
  --color__brand: #222;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color__brand);
  max-width: 900px;
  margin: 0 auto;
}

main {
  max-width: 80%;
  margin: 3.4rem 2.2rem 4.2rem 2.2rem;
}

a,
a:visited,
.link {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-style: solid;
}

a:hover,
a:hover .link {
  text-decoration-style: wavy;
}

/* a:focus, */
/* *:focus .link { */
/*   outline-style: solid; */
/*   outline-color: blue; */
/*   outline-width: 0.1rem; */
/* } */

a:focus .hover-outline {
  outline-style: solid;
  outline-color: blue;
  outline-width: 0.1rem;
}

.no-outline {
  outline: none !important;
}

.link--blue,
a.link--blue {
  color: blue;
  text-decoration: none;
  position: relative;
  top: 0.1rem;
  padding: 0.28rem 0.38rem 0.14rem 0.38rem;
}

.link--blue:hover,
a.link--blue:hover,
.link--blue:focus,
a.link--blue:focus {
  background-color: blue;
  color: #fff;
}

.link--block,
a.link--block {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: blue;
  padding: 0.05rem 0.2rem;
}

.link--button,
a.link--button {
  font-size: 0.8rem;
  margin: 0 1.4rem 0.28rem 1.4rem;
  border: 1px solid blue;
  text-decoration: none;
  padding: 0.22rem 0.38rem 0.1rem 0.38rem;
  color: blue;
}

.link--button:hover,
a.link--button:hover,
a:focus .link--button,
a.link--button:focus {
  background-color: blue;
  color: #fff;
}

.link--no-underline {
  text-decoration: none;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: wrap;
  margin: 3.4rem 2.2rem 2.4rem 2.2rem;
}

.header__title {
  line-height: 1;
  font-size: 2.6rem;
  padding: 0 3rem 0 0;
}

.header__title-link,
a.header__title-link {
  padding: 0.55rem 0.45rem 0 0.45rem;
}

/* .flamez { */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   margin: 1.4rem 0.2rem; */
/* } */

/* .flame { */
/*   margin: 0 auto; */
/*   width: 50%; */
/*   min-width: 300px; */
/* } */

.header__nav {
  flex-grow: 0;
}

.header__nav-list {
  width: 70%;
  display: flex;
  margin-top: 1.2rem;
}

.header__nav-list a {
  margin: 0 1.2rem;
}

.header__nav-list li:last-child a {
  margin-right: 0;
}

.header__nav-list li:first-child a {
  margin-left: 0;
}

.list {
  margin-bottom: 3rem;
}

.list__item {
  margin: 1rem 0;
}

.list__item-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.list__item-title {
  display: block;
  font-weight: 800;
}

@media (min-width: 640px) {
  html,
  body {
    font-size: 18px;
  }

  .hidden--mobile {
    display: unset;
  }

  .list__item-title {
    display: inline-block;
  }

  .list__item-desc {
    margin-left: 0.5rem;
  }
}
