---
layout: templates/base.liquid
title: About
priority: 1.0
changefreq: 'monthly'
---

{% capture css %}
  {% include css/article.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<h1 class='sr-only'>
  About
</h1>

<article class='article site-content'>
  <p>
    Hey! I'm William, a Swedish frontend-leaning web developer, currently based in Vancouver, BC. I absolutely love the web and working to make it more fun, interesting and exciting to use and develop for.
  </p>

  <p id='favorites-label'>When I'm not working on a project I'm usually thinking about:</p>

  <ul aria-labelledby='favorites-label'>
    <li>
      JavaScript (probably React)
    </li>
    <li>
      All things open-source
    </li>
    <li>
      Improving my workflow (Vim / tmux)
    </li>
    <li>
      Mechanical keyboards (currently a Preonic with Gateron browns)
    </li>
  </ul>

  <p>
    For more of my work and to see what I'm currently up to, check my <a href='https://github.com/shwilliam'>GitHub</a>, or find me retweeting (mostly) web-related things on <a href='https://twitter.com/werlliam'>Twitter</a>.
  </p>

  <h2 id='links__label' class='title'>Links</h2>

  <ul aria-labelledby='links__label'>
    <li>
      <span class='inline'>E-mail:</span>
      <a
        href="mailto:w-lindvall@outlook.com?subject=Let's%20grab%20a%20coffee!"
      >
        w-lindvall@outlook.com
      </a>
    </li>
    <li>
      <span class='inline'>GitHub:</span>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='https://github.com/shwilliam'
      >
        @shwilliam
      </a>
    </li>
    <li>
      <span class='inline'>LinkedIn:</span>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='https://www.linkedin.com/in/william-lindvall'
      >
        /william-lindvall
      </a>
    </li>
    <li>
      <span class='inline'>RSS:</span>
      <a
        target='_blank'
        rel='noopener noreferrer'
        href='/rss.xml'
      >
        /rss.xml
      </a>
    </li>
    <li>
      <span class='inline'>Resume:</span>
      <a
        href="/files/lindvall_william-resume.pdf"
        download
      >
        download
      </a>
    </li>
  </ul>
</article>

