---
layout: templates/base.liquid
title: About
priority: 1.0
changefreq: 'monthly'
---

<main class='content'>
  <div class='content__header'>
    <a href='/' class='back'>Back</a>
  </div>

  <div class='content__main'>
    <h1 class='title title--padded'>
      About
    </h1>

    <div class="image__container">
      <img
        class='image'
        src='/images/gondola.jpg'
      />
    </div>

    <p>
      This is my girlfriend and I in a cable car.
    </p>

    <p>
      I love the web and working to make it more fun, interesting and exciting to use and develop for.
    </p>

    <p id='favorites-label' class='favorites-label'>When I'm not working on a project I'm usually thinking about:</p>

    <ul aria-labelledby='favorites-label' class='list'>
      <li>
        JavaScript (probably React)
      </li>
      <li>
        All things open-source
      </li>
      <li>
        Improving my workflow (Vim / tmux)
      </li>
      <li>
        Mechanical keyboards (currently a Preonic with Gateron browns)
      </li>
    </ul>

    <p>
      For more of my work and to see what I'm currently up to, check my <a href='https://github.com/shwilliam'>GitHub</a>, or find me favoriting tweets <a href='https://twitter.com/werlliam'>here</a>.
    </p>

    <h2 id='links__label' class='subtitle subtitle--padded'>Links</h2>

    <ul aria-labelledby='links__label' class='list links__list'>
      <li class='list__item--l'>
        <p class='inline'>E-mail:</p>
        <a
          href="mailto:w-lindvall@outlook.com?subject=Let's%20grab%20a%20coffee!"
        >
          w-lindvall@outlook.com
        </a>
      </li>
      <li class='list__item--l'>
        <p class='inline'>GitHub:</p>
        <a
          target='_blank'
          rel='noopener noreferrer'
          href='https://github.com/shwilliam'
        >
          @shwilliam
        </a>
      </li>
      <li class='list__item--l'>
        <p class='inline'>LinkedIn:</p>
        <a
          target='_blank'
          rel='noopener noreferrer'
          href='https://www.linkedin.com/in/william-lindvall'
        >
          /william-lindvall
        </a>
      </li>
      <li class='list__item--l'>
        <p class='inline'>RSS:</p>
        <a
          target='_blank'
          rel='noopener noreferrer'
          href='/rss.xml'
        >
          /rss.xml
        </a>
      </li>
      <li class='list__item--l'>
        <p class='inline'>Resume:</p>
        <a
          href="/files/lindvall_william-resume.pdf"
          download
        >
          download
        </a>
      </li>
    </ul>
  </div>
</main>

