---
date: 2019-08-25T00:00:00-05:00
title: About
priority: 1.0
changefreq: 'monthly'
---

<h2>About me</h2>

<div>
  <img src="/images/gondola.jpg" />
</div>

<p>
  This is my girlfriend and I in a cable car.
</p>

<p>
  I love the web and working to make it more fun, interesting and exciting to use and develop for, by publishing OS components and micro-libraries.
</p>

<p>
  For more of my work and to see what I'm currently up to, check my <a href='https://github.com/shwilliam'>GitHub</a>, or find me retweeting stuff on Twitter <a href='https://twitter.com/werlliam'>here</a>.
</p>
