---
layout: templates/base.liquid
title: blog
priority: 1.0
changefreq: 'monthly'
---

<div class='content'>
  <div class='content__header'>
    <a href='/' class='back'>Back</a>
  </div>
  <main class='content__main'>
    <h1 class='title'>Recent Posts</h1>

    <ul class='list'>
      {% assign sortedPosts = collections.blog | reverse %}
      {% for post in sortedPosts %}
        <li>
          <a href='{{post.url}}'>
            <h2 class='inline'>
              {{post.data.title}}
            </h2>
            {% comment %} <p>{{post.data.description}}</p> {% endcomment %}
          </a>
        </li>
      {% endfor %}
    </ul>

    <p class='more'>
      Subscribe to the 
      <a href='/rss.xml'>
        RSS feed
      </a>
    </p>
  </main>
</div>
