---
layout: templates/scrollable.liquid
title: blog
priority: 1.0
changefreq: 'monthly'
---

<h2 class='title'>Recent Posts</h2>

<ul class='list'>
  {% assign sortedPosts = collections.blog | reverse %}
  {% for post in sortedPosts %}
    <li>
      <a href='{{post.url}}'>
        <h3 class='inline'>
          {{post.data.title}}
        </h3>
        {% comment %} <p>{{post.data.description}}</p> {% endcomment %}
      </a>
    </li>
  {% endfor %}
</ul>

