---
priority: 1.0
changefreq: 'monthly'
---

<h2>Blog</h2>

<ul>
  {% assign sortedPosts = collections.blog | reverse %}
  {% for post in sortedPosts %}
    <li>
      <a href="{{post.url}}">
        <h3>
          {{post.data.title}}
        </h3>
        {% comment %} <p>{{post.data.description}}</p> {% endcomment %}
      </a>
    </li>
  {% endfor %}
</ul>
