---
layout: templates/base.liquid
title: Blog
priority: 1.0
changefreq: 'monthly'
---

<div class='content'>
  <div class='content__header'>
    <a href='/' class='back'>Back</a>
  </div>
  <main class='content__main'>
    <h1 class='title'>Recent Posts</h1>

    <ul class='blog-list'>
      {% assign sortedPosts = collections.blog | reverse %}
      {% for post in sortedPosts %}
        <li class='blog-list__item'>
          <a class='blog-list__link' href='{{post.url}}'>
            <p class='blog-list__date'>{{ post.data.date | toIsoStringNoTimezone }}</p>
            <h2 class='blog-list__title'>
              {{post.data.title}}
            </h2>
            <p class='blog-list__description'>{{post.data.description}}</p>
          </a>
        </li>
      {% endfor %}
    </ul>

    <p class='more'>
      Subscribe to the 
      <a href='/rss.xml'>
        RSS feed
      </a>
    </p>
  </main>
</div>
