---
layout: templates/base.liquid
title: Blog
priority: 1.0
changefreq: 'monthly'
---

<h1 class='sr-only'>Recent Posts</h1>

<ul class='blog-list'>
  {% assign sortedPosts = collections.blog | reverse %}
  {% for post in sortedPosts %}
    <li class='blog-list__item'>
      <a class='blog-list__link' href='{{post.url}}'>
        <h2 class='title blog-list__title'>
          {{post.data.title}}
        </h2>
        <p class='blog-list__date'>{{ post.data.date | toIsoStringNoTimezone }}</p>
        <p class='blog-list__description'>{{post.data.description}}</p>
      </a>
    </li>
  {% endfor %}
</ul>

<div class='site-content'>
  <p class='more'>
    Subscribe to the 
    <a href='/rss.xml'>
      RSS feed
    </a>
  </p>
</div>
