---
layout: templates/base.liquid
title: Home
priority: 1.0
changefreq: 'monthly'
---

{% capture css %}
  {% include css/home.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

<h1 class='sr-only'>William Lindvall</h1>

<div class='contact-form__container'>
<form class='contact-form' name='contact' method='POST' data-netlify='true'>
  <label class='sr-only' for='contact-form-message'>
    Send me anonymous message
  </label>
  <textarea
    class='contact-form__input'
    id='contact-form-message'
    placeholder='Send me an anonymous message'
    name='message'
    rows='4'
    cols='28'
  ></textarea>

  <div class='contact-form__actions'>
    <div class='contact-form__recaptcha' data-netlify-recaptcha='true'></div>
    <button class='button button--fill contact-form__submit' type='submit'>
      send
    </button>
  </div>
</form>
</div>
