---
layout: layouts/home.njk
---

<h1 class="sr-only">William Lindvall</h1>

<p class="subtitle">
  <span role="img" aria-label="Keyboard" title="Keyboard">
    ⌨️ 
  </span>
  web developer based in vancouver
</p>

<div>
  <a href="{{ metadata.github }}" target="_blank">github</a>
</div>
<div>
  <a href="mailto:{{ metadata.email }}?subject=wazaaaaaap">{{ metadata.email }}</a>
</div>
