---
layout: layouts/home.njk
---

<h1 class="sr-only">William Lindvall</h1>

<p class="subtitle">
  ⌨️ developer based outside of stockholm
</p>

<p>
  <a href="mailto:{{ metadata.email }}?subject=wazaaaaaap">{{ metadata.email }}</a>
</p>
