---
layout: templates/base.liquid
title: William Lindvall
priority: 1.0
changefreq: 'monthly'
---

{% capture css %}
  {% include css/article.css %}
{% endcapture %}

<style>
  {{ css | cssmin }}
</style>

{% include templates/body-start.liquid %}

<h1 class='sr-only'>
  Home
</h1>

<article class='article site-content'>
  <p>
    Hey! I'm William, a Swedish, full-stack web developer, based in Vancouver, BC. I absolutely love the web and working to make it more fun, interesting and exciting to use and develop for.
  <p>

  <p>
    Currently, working on a health screening app for <a class='underline' href='https://www.mymedbot.lu/' target='_blank' rel='noopener noreferrer'>MyMedBot</a>.
  </p>

  <p>
    For more of my work and to see what I'm currently up to, check my <a class='underline' href='https://github.com/shwilliam' rel='me'>GitHub</a>, or find me retweeting (mostly) web-related things from time to time on <a class='underline' href='https://twitter.com/werlliam' rel='me'>Twitter</a>.
  </p>

  <h2 id='links__label' class='title'>Links</h2>

  <ul aria-labelledby='links__label'>
    <li>
      <span class='inline'>E-mail:</span>
      <a
        class='underline'
        href="mailto:shwilliam@hey.com?subject=Hey!"
      >
        shwilliam@hey.com
      </a>
    </li>
    <li>
      <span class='inline'>GitHub:</span>
      <a
        class='underline'
        rel='me'
        href='https://github.com/shwilliam'
      >
        @shwilliam
      </a>
    </li>
    <li>
      <span class='inline'>RSS:</span>
      <a
        class='underline'
        target='_blank'
        rel='noopener noreferrer'
        href='/rss.xml'
      >
        /rss.xml
      </a>
    </li>
    <li>
      <span class='inline'>Resume:</span>
      <a
        class='underline'
        href="/files/lindvall_william-resume.pdf"
        download
      >
        download
      </a>
    </li>
  </ul>
</article>

