---
layout: templates/base.liquid
priority: 1.0
changefreq: 'monthly'
---

<main class='browser-window welcome-window'>
  <div class='browser-window-header'>
    <button disabled class='browser-window-close disabled'>✕</button>
  </div>

  <div class='browser-window-content'>
    <h1 class='welcome-title'>
      William <span class='welcome-title-br'>Lindvall</span>
    </h1>

    {% comment %}
    <p class='welcome-subtitle'>
      web developer
    </p>

    <p class='welcome-info'>
      React / Typescript / GraphQL / Node.js
    </p>

    <p class='welcome-info'>
      <a
        href="mailto:w-lindvall@outlook.com?subject=Let's%20grab%20a%20coffee!"
      >
        w-lindvall@outlook.com
      </a>
    </p>
    {% endcomment %}

    <nav class='nav'>
      <ul class='nav-list'>
        <li class='nav-item'>
          <a href='/about' class='nav-link'>
            about
          </a>
        </li>
        <li class='nav-item'>
          <a href='/blog' class='nav-link'>
            blog
          </a>
        </li>
        <li class='nav-item'>
          <a href='/work' class='nav-link'>
            work
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main>

