---
layout: templates/scrollable.liquid
title: work
priority: 1.0
changefreq: 'monthly'
---

<h1>Recent Work</h1>

<ul class='list'>
  {% assign sortedPosts = collections.projects | reverse %}
  {% for post in sortedPosts %}
    <li>
      <h3 class='inline'>
        {{post.data.title}}
      </h3>
      <p>
        {{post.data.description}}
      </p>
      <a href="{{post.data.source}}">
        source
      </a>
      {% if post.data.link %}
        <a href="{{post.data.link}}">
          demo
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
